

<div id="about-page">
<h1>About Page</h1>
<p><b>goingplaces</b> is a ruby on rails full-CRUD application. It's a travel web site that allows authorized users to make posts about different cities. Cites, users, and their posts are stored in a postgres SQL database. We wanted the user to experience the bright and beautiful cities so we chose a CSS-bootstrap template and some striaghtforward SASS styling. And we implemented devise authentication to manage user sign-up and sign-in.</p>


<b>goingplaces</b> uses ruby on rails. For authentication we used the gem devise and
everything that comes with it. We used a postgres sql database and used rails to make calls on the database.

bootstrap and bootswatch and a little scss </p>
</div><br><br>

<div class="container">
    <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
         <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="https://avatars3.githubusercontent.com/u/25234655?v=3&s=460"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Magdalena Kinney</h3>
                                <p class="profession">Full Stack Developer</p>
                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                            </div>
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Rotation
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Skills</h4>
                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                <div class="stats-container">
                                    <div class="stats">
                                        <h5>Portfolio</h5>

                                         <p><a href="https://magkinney21.github.io/startbootstrap-landing-page/">click</a></p>

                                    </div>
                                    <div class="stats">
                                        <h5>Linkden</h5>
                                        <p><a href="https://www.linkedin.com/in/magdalena-kinney/">click</a>
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h5>Github</h5>
                                        <p><a href="https://github.com/magkinney21">click</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
<!--      <div class="col-sm-10 col-sm-offset-1">
 -->         <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="https://www.clipartsgram.com/image/124089475-california-beaches-tumblr-wallpaper-3.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/17990797_10212657430296753_8109449739925137829_n.jpg?oh=689c183a16c6f2d02fee060c48891600&oe=598D3A83"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">David Hernquist</h3>
                                <p class="profession">Full Stack Developer</p>
                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                            </div>
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Rotation
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Skills</h4>
                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                <div class="stats-container">
                                    <div class="stats">
                                        <h5>Portfolio</h5>

                                         <p><a href="http://davidhernquist.com">click</a></p>

                                    </div>
                                    <div class="stats">
                                        <h5>Linkden</h5>
                                        <p><a href="https://www.linkedin.com/in/davidhernquist/">click</a>
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h5>Github</h5>
                                        <p><a href="https://github.com/hernquist">click</a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
        <div class="col-md-4 col-sm-6">
            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="http://www.hdimageson.com/wp-content/uploads/2016/05/beach-images-tumblr-300x188.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA2jAAAAJGI0ODZlZmVkLWNmNzgtNDIxOS04MmNhLWY3MWE5ODcyNzc1NQ.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Josh Seipel</h3>
                                <p class="profession">Full Stack Web Developer</p>

                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-mail-forward"></i> Rotation
                                </div>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Skills</h4>
                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                <div class="stats-container">
                                    <div class="stats">
                                        <h5>Portfolio</h5>
                                        <p>
                                            <a href="https://jaguarj.github.io/myportfolio">click</a>
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h5>Linkden</h5>
                                        <p><a href="https://www.linkedin.com/in/josh-seipel/">click</a></p>
                                    </div>
                                    <div class="stats">
                                        <h5>GitHub</h5>
                                        <p><a href="https://github.com/jaguarj">click</a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col-sm-3 -->
        </div> <!-- end col-sm-10 -->
    </div> <!-- end row -->
    <div class="space-200"></div>

<p>This project was conceived by three General Assembly developers in 2017. For <b>goingplaces's</b> workflow and userstories we used <a href = "https://trello.com/b/MGznU8n0/project-4trello">trello</a> and <a href = "https://github.com/jaguarj/goingplaces">github</a>.

</div>

