<!-- <h1>About Page</h1> -->

<div id="about-page">
	<h1>About Page</h1>

<p><b>goingplaces</b> is a group project about having users make posts about the
cities they've visited to share with other visitors. This project was conceived
by three junior deveopers while attending General Assembly's Web Development
Immersive program in 2017.

<b>goingplaces</b> uses ruby on rails. For authentication we used the gem devise and
everything that comes with it. We used a postgres sql database and used rails to make calls on the database.



bootstrap and bootswatch and a little scss </p>


</div>

