

<div id="about-page">
<h1>About Page</h1>
<p><b>goingplaces</b> is a ruby on rails full-CRUD application. It's a travel web site that allows authorized users to make posts about different cities. Cites, users, and their posts are stored in a postgres SQL database. We wanted the user to experience the bright and beautiful cities so we chose a CSS-bootstrap template and some striaghtforward SASS styling. And we implemented devise authentication to manage user sign-up and sign-in.</p>

<p>This project was conceived by three General Assembly developers in 2017. For <b>goingplaces's</b> workflow and userstories we used <a href = "https://trello.com/b/MGznU8n0/project-4trello">trello</a> and <a href = "https://github.com/jaguarj/goingplaces">github</a>.
</p>
<a href ="http://davidhernquist.com/"><img class="aboutPic" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/17990797_10212657430296753_8109449739925137829_n.jpg?oh=689c183a16c6f2d02fee060c48891600&oe=598D3A83"></a>
<a href="https://jaguarj.github.io/myportfolio/"><img class="aboutPic" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA2jAAAAJGI0ODZlZmVkLWNmNzgtNDIxOS04MmNhLWY3MWE5ODcyNzc1NQ.jpg"></a>
<a href="https://magkinney21.github.io/startbootstrap-landing-page/"><img class="aboutPic" src="https://avatars3.githubusercontent.com/u/25234655?v=3&s=460"></a>

<p> Click on a developer to see more about them </p>
</div>

