
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Going Places</h1>
    <% @cities.each do |city| %>
    	<button class="btn btn-primary"><%= link_to city.name, city_path(city) %></button>
    <% end %>









<ul>
	<% @cities.each do |city| %>



		<button class="btn btn-primary"><%= link_to city.name, city_path(city) %></button>
	<% end %>
</ul>
>>>>>>> 398596fdfa56ec5d2b8fb3010d381f9d1f981e1d
  </div>
</div>


 



