<h2>Edit Posts</h2>

<%= bootstrap_form_for [@city, @post] do |f| %>

  <div class="field">
    <%= f.text_field :title %>
  <div>

  <div class="field">
    <%= f.text_field :content %>
  <div>

  <div class="actions">
    <%= f.submit "Edit Post" %>
  </div>
<% end %>
