
<div class="cities-page">
		<div class="cities-content">
				<ul>
					<% @cities.each do |city| %>
					<span><h3><%= city.name %>,
						<%= city.location %> </h3></span>
						<img class="cities_img" src="<%= city.photoUrl %>">
					<% end %>
				</ul>
		</div>
</div>
