/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

.profile-show {
 margin: 0 auto;
 margin-top:5.6rem;
 margin-bottom: 5.6rem;
 width: 1000px;
 padding: 50px;
 border-radius: 10px;
 text-align: center;
 background: rgb(255, 255, 255);
 color: black;
 transition: all .5s ease-in-out;
}


#card_title a {
  color: #000;
  margin-bottom: 10px;
  padding: 10px;
  letter-spacing: 1px;
  border-bottom: 0px solid navy;
  transition: all .1s ease-in-out;
}

input {
	margin-top: 10px;
	background: none;
	border: none;
	font-size: 2.5rem;
	transition: all .3s ease-in-out;
}

.button_to {
	color: navy;
}

header {
	margin-top: -60px;
}

.jumbotron {
	margin-top: -22px;

}

.btn.btn-default {
	letter-spacing: 1px;

}

#card_title a:hover {
  color: navy;
  border-bottom: 5px solid navy;


}



