// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*.cities_img {
  height: 20vh;
  width: 70vh;
}*/

.big-image {
	/*background-repeat: none;
  background-size: cover;
  height: 50vh;
  width: 100%;*/

  position:relative;
  height: 400px;
  margin: 5px 5px 0 5px;
  border: #0f0f12 outset 2px;
}

.big-image-jumbo {
  position: static;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.city-show-page-header {
	display: flex;
	justify-content: space-between;
	padding: 0 200px 0 200px;
}

#add-post-button {
	margin-top: 1rem;
}

#user-post-photo {
	height: 8rem;
	width: 8rem;
	border-radius: .5rem
}

.post-card-for-city {
	margin: 0 auto;

}

.post-card-block {
	margin: 1rem;
}

.post-card-container {
	display: flex;
	justify-content: space-between;
	margin: .5rem;

}


.post-card-text {
	display:flex;

.card-text {
	display: flex;
	final_branch
	flex-direction: column;
	margin: 0 auto;
}
