// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron{
  background-image: image-url('nyc.jpg');
  background-repeat: none;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

body {
  background:black;
}

.container{
  text-align:center;
}

header {
	background: rgba(0,0,0,0.5);
}

nav {
	display: flex;
	text-align: right;
	justify-content: space-between;

}

#logo {
	text-align: left;
	display: inline-block;
	padding: 0px 1rem;

}

li {
	display: inline-block;
	padding: 1.5rem;

}

