// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users_show, .posts_new{
  background-color: #f2eabb;
}
.list-group-item{
  background: rgba(0,0,0,0.6);
  color: white;
}
.card-block{
  font-size: 20px;
  text-align: center;
}

